.modal {
  background-color: #222222;
  background-image: none;
  padding: 24px;
  max-width: 500px;
  width: 90%;
  max-height: 90vh;
  position: relative;
  overflow-y: auto;
}

.modal.MuiPaper-root {
  background-color: #222222;
  background-image: none;
}

.modal .modal__title {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  font-size: 20px;
}

.modal .modal__close.MuiIconButton-root {
  transition: color 0.2s;
}

.modal .modal__close.MuiIconButton-root:hover {
  color: #FEB7FF;
}

.modal .modal__content {
  padding: 0;
  color: #fff;
}
