.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-form input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
  padding-left: 10px;
}

.login-form input[type="submit"] {
  width: 200px;
  font-size: 20px;
  border: none !important;
  padding-left: 0px !important;
  transition: all 0.2s ease-in-out;
}

.login-form input[type="submit"]:hover {
  box-shadow: 0 0 5px #fff;
}

.log-btn {
  background-color: #feb7ff;
}

.switch-btn {
  margin-top: 0px !important;
  width: 200px !important;
  height: 30px !important;
  font-size: 16px !important;
  background-color: #aaa !important;
  border: none !important;
}
