nav{
    position: fixed;
    
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    width: 55px;
    height: 100vh;
    border-right: 1px solid #FFF;
    background-color: #222222;
    transition: all 0.3s ease-out;
}

.nav-container.active{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    width: 250px;
    height: 100vh;
    border-right: 1px solid #FFF;
    background-color: #222222;
}

.logo-nav{
    position: absolute;
    top: 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width:  200px;
    height: 100px;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.nav-container.active .logo-nav{
    display: flex;
    justify-content: center;
    width:  200px;
    height: 100px;
    opacity: 1;
}

.logo-nav img {
    width: 50px;
    height: 50px;   
    user-select: none;
}

ul{
    list-style: none
}

.list-Of-Pages{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.list-Of-Pages > li p{
    user-select: none;
    opacity: 0;
    font-size: 0;
}

.list-Of-Pages > li > a:hover{
    text-shadow: 0 0 5px #FFF;
}

.nav-container.active .list-Of-Pages > li > a{
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2px;
    color: #FFF;
    text-decoration: none;
    transition: all 0.1s ease-out;
}

.nav-container.active .list-Of-Pages > li p{
    opacity: 1;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    flex-wrap: nowrap;
    color: #FFF;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.icon{
    width: 30px;
    height: 30px;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.list-Of-Pages > li > a:hover .icon{
    filter: drop-shadow(0 0 5px #FFF);
}


