.CreateNoteContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%), translateX(-50%);
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.CreateNoteBtnContainer {
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-out;
}

.CreateNoteBtn {
  position: sticky;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #fff;
  background-color: #333;
  transition: all 0.3s ease-out;
}

.CreateNoteBtn.active {
  position: relative;
  transform: rotate(45deg);
}

.CreateNoteBtn > p {
  color: #fff;
  font-size: 25px;
}

.CreateNoteBtnContainer.active {
  position: absolute;
  bottom: 14vh;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-out;
}

.CreateNoteContainer.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  min-height: 117vh;
  padding-bottom: 17vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.CreateNoteContainer.active h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.CreateNote {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  display: flex;
  padding: 40px;
  width: 1000px;
  height: 500px;
  border-radius: 20px;
  flex-direction: column;
  overflow: none;
  background-color: #222;
}

#HeadName {
  width: 48vw;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #999;
  background-color: transparent;
  border-radius: 5px;
  padding-left: 10px;
  color: #fff;
  font-size: 24px;
  outline: none;
}

#NoteInfo {
  margin-top: 20px;
  width: 48vw;
  height: 40vh;
  border: 1px solid #999;
  background-color: transparent;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  color: #fff;
  font-size: 20px;
  resize: none;
  outline: none;
}

.MakeNote {
  margin-top: 20px;
  width: 300px;
  height: 50px;
  background-color: #feb7ff;
  border: none;
  border-radius: 5px;
  color: #000;
}
