footer{
    width: 100%;
    height: 200px;
    background-color: #101010;
    padding-left: 70px;
    padding-top: 20px;
}

.footer-container h3{
    font-size: 25px;
    font-weight: 100;
}

.footer-container p{
    font-size: 25px;
}

.footer-container p span{
    font-size: 23px;
}

.callback-images{
    display: flex;
    flex-direction: row;
}

.callback-images img{
    width: 50px;
    height: 50px;
}