:root {
  --background: #151515;
  --text: #ffffff;
  --accent: #FEB7FF;
  --secondary: #222222;
  --error: #ff4444;
  --success: #44ff44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
p,
button,
input[type="submit"] {
  font-family: "Home Video", sans-serif;
}

@font-face {
  font-family: "Home Video";
  src: url(./shared/assets/fonts/HomeVideo-Regular.otf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
